@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fascinate&family=Fascinate+Inline&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

body {
    background-image: url(/assets/background.png);
    background-size: cover;
    padding: 0;
    margin: 0;
    border: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px solid #F5EAE8;
}

.nav-text {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    width: 600px;
    color: #EA492E;
    font-family: 'poppins', sans-serif;
    font-size: 13px;
}

a{
    text-decoration: none;
    color: #EA492E;   
   }
   
a:hover{
   color: #e98c7c;  
}

span {
    color: #EA492E;
}

.nav-content {
    font-weight: normal
}

.logo-box {
    position: relative;
    left: 50px;
    bottom: 67px;
    height: 20px;
    width: fit-content;
    height: fit-content;
}

.logo {
    font-size: 26px;
    font-family: 'inika';
}


.container {
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(238, 238, 238);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 13px;
    height: 450px;
    width: 1200px;
    background-color: white;}


.contact-title {
    margin-top: 30px;
    margin-left: 40px;
    font-family: 'poppins', sans-serif;
    font-size: 26px;
    letter-spacing: 1px;
    color: #EA492E
}

.contact-details {
    line-height: 45px;
    margin-left: 40px;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #4B4B4B;

}

.main{
    display: flex;
    justify-content: center;
}


footer {
    position: fixed;
    bottom: 0px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
}

.kalvian {
    color: #4B4B4B;
    font-size: 23px;
    font-family: 'poppins';
    font-weight: normal;
}


